%hr

.container
  .row
    / portfolio item
    .span4.project.zoom{"data-tags" => "design"}
      %a.thumbnail{href: ""}
        / imae
        %img{src: "http://placehold.it/300x200/222/fff"}/
        / name
        %b.project-name Title
    / end portfolio item
    / portfolio item
    .span4.project.zoom{"data-tags" => "design"}
      %a.thumbnail{href: ""}
        / image
        %img{src: "http://placehold.it/300x200/555/fff"}/
        / name
        %b.project-name Title
    / end portfolio item
    / portfolio item
    .span4.project.zoom{"data-tags" => "design"}
      %a.thumbnail{href: ""}
        / image
        %img{src: "http://placehold.it/300x200/999/fff"}/
        / name
        %b.project-name Title
    / end portfolio item
