%div{class:"hero-unit"}
    %p.ac Helping clinicians harness technology to become better doctors
    #macbook_carousel
        #carousel.carousel.slide{rel:"carousel"}   
            %div{class:"carousel-inner"}
                .active.item= image_tag("carousel/cam.jpg")
                .item= image_tag("carousel/ie5.jpg")
                .item= image_tag("carousel/code.jpg")
            <!-- Carousel navigation -->
            %a{class:"carousel-control left", href:"#carousel", data: {slide:"prev"}} &lsaquo;
            %a{class:"carousel-control right", href:"#carousel", data: {slide:"next"}} &rsaquo;

.row
    .span8
        %h1.lead
            %b The London Conference
            %br
            Saturday & Sunday 1st/2nd December, 2012 - Covent Garden
        
    .span4
        %p.ac
            %a{class:"btn btn-large btn-primary", href:"http://thedigitaldoctor-estw.eventbrite.co.uk/", title:""}
                %b Book Now!
                
%hr

.row
    .span6
        %h2
            %span.grey Our
            Vision
        %p We are a small group of doctors and IT professionals who want to help clinicians harness the power of modern technology to improve their efficiency and level of patient care.
        %p We also want to make it easier for clinicians to get started implementing their own tech ideas.

    .span6
        %h2
            %span.grey The
            Conference
        %p On Saturday we will teach you to use technology and tools to make everyday tasks (email, audits, task management, keeping up with literature, collaborative working and research) more efficient and fun.
        %p On Sunday we will be introducing app creation - how to do it, what is involved and how to convince others to help you do it. We will demystify the software development process and show you how to bend technology to meet your needs. We will also shed light on how NHS IT works (or doesn't work!).