%hr

.row
  .span8
    %h1#conf_strap
      %b The Digital Doctor Conference London 2013
    %h1.lead
      Join us for #digidoc13 on the 9th and 10th of November 
  .span4
    %p.ac
      %a{class: "btn btn-large btn-primary", 
         href: "http://digidoc13.eventbrite.co.uk", 
         title: "The Digital Doctor Conference 2013: Eventbrite page",
         } 
        %b Book now! 
.row
  .span3
    = link_to(image_tag("bcs_alpha.jpg", 
      alt: "BCS logo", 
      width: 160, 
      height: 120,
      title: "BCS health"),
      "http://www.bcs.org/category/6044",
      target: "_blank")
  -# .span9
  -#   %h1.lead
  -#     %br
  -#     Join us for #digidoc13 on the 9th and 10th of November 
.row
  .span12
    %small.muted#muted_link
      %i 
        Supported by 
        = link_to("BCS Health", 
          "http://www.bcs.org/category/6044",
          target: "_blank")


%hr

.row
  .span6
    %h2
      %span.grey Our Vision
    %p We are a small group of doctors and IT professionals who want to help make things better. We welcome everyone; health professionals, patients and the public and want to help them harness the power of modern technology to improve their efficiency and level of patient care.
    %p We also want to make it easier for clinicians to get started implementing their own tech ideas.

  .span6
    %h2
      %span.grey The Conference
    %p On Saturday we will teach you to use technology and tools to make everyday tasks (email, audits, task management, keeping up with literature, collaborative working and research) more efficient and fun.
    %p On Sunday we will be introducing app creation - how to do it, what is involved and how to convince others to help you do it. We will demystify the software development process and show you how to bend technology to meet your needs. We will also shed light on how NHS IT works (or doesn't work!).
