%div{class:"hero-unit"}
    %h1 Saturday's Schedule
            
.event.row
    .span1 09:00-09:30
    .span7
        %h3 Registration
        .description Delegates arrive, coffee, conference packs etc.
            
.event.row
    .span1 09:30-09:45
    .span7
        %h3 Introduction
        .by Dr Ed Wallitt
        .description A introduction to the day and it's purpose 
          
.event.row
    .span1 09:45-10:30
    .span7
        %h3 Why Doctors need to be digital
        .by Dr Martin Murphy
        
.event.row
    .span1 10:30-11:00
    .span7
        %h3 Refreshments
        
.event.row
    .span1 11:00-12:30
    .span7
        %h3 Session 1
        %ul
            %li
                %h4 Email and the power of Inbox Zero
                .by Dr Stevan Wing
            %li
                %h4 Keeping up to date (RSS feeds, journals etc)
                .by Dr Wai Keong Wong
            %li
                %h4 Getting Things Done - efficient task management
                .by Dr Ed Wallitt
        
.event.row
    .span1 12:30-13:30
    .span7
        %h3 Lunch
        
.event.row
    .span1 13:30-15:00
    .span7
        %h3 Session 2
        %ul
            %li
                %h4 Social networking: why and how?
                .by Dr Anne Marie Cunningham
            %li
                %h4 Getting things done - efficient task management
                .by Dr Ed Wallitt
            %li
                %h4 Software for Research
                .by Dr Stevan Wing
        
.event.row
    .span1 15:00-15:30
    .span7
        %h3 Refreshments
        
.event.row
    .span1 15:30-17:00
    .span7
        %h3 Session 3
        %ul
            %li
                %h4 Social Media, Education and Medicine
                .by Dr Anne Marie Cunningham
            %li
                %h4 Database and Audits
                .by Dr Wai Keong Wong
            %li
                %h4 Getting the most out of your iPad/iPhone - apps and hacks
                .by Tom Lewis
        
.event.row
    .span1 17:00-17:15
    .span7
        %h3 Close
        .description Sum up, thanks etc
        
.event.row
    .span1 17:15-
    .span7
        %h3 Onward Drinks and Networking
        
%hr

%div{class:"hero-unit"}
    %h1 Sunday's Schedule
            
.event.row
    .span1 09:00-09:30
    .span7
        %h3 Registration
        .description Delegates arrive, coffee, conference packs etc.
            
.event.row
    .span1 09:30-09:45
    .span7
        %h3 Introduction
        .by Dr Ed Wallitt
        .description A introduction to the day and it's purpose 
          
.event.row
    .span1 09:45-10:15
    .span7
        %h3 Anatomy and Physiology of NHS IT in an Acute Hospital
        .by Dr Jack Barker (CCIO, Kings College Hospital)

.event.row
    .span1 10:15-10:45
    .span7
        %h3 Anatomy and Physiology of NHS IT in the bigger world
        .by Rob Dyke (HANDI Director and Tactix4)
        
.event.row
    .span1 10:45-11:00
    .span7
        %h3 Refreshments
         
.event.row
    .span1 11:00-11:15
    .span7
        %h3 Lightning Talks 1 - Novel ideas for Applications
        
.event.row
    .span1 11:00-12:30
    .span7
        %h3 Session 1
        %ul
            %li
                %h4 How to Learn to Code
                .by Jeremy Walker & Dr Ed Wallitt
            %li
                %h4 Creating Websites and Podcasts using different tools
            %li
                %h4 Free thinking space for collaboration (Unconference)
        
.event.row
    .span1 12:30-13:45
    .span7
        %h3 Lunch
        
.event.row
    .span1 13:45-14:00
    .span7
        %h3 Lightning Talks 2 - Novel ideas for Applications
        
.event.row
    .span1 14:00-15:00
    .span7
        %h3 Session 2
        %ul
            %li
                %h4 Building an iPhone app in 90 mins
                .by Dr Ed Wallitt
            %li
                %h4 An Introduction to Computer Science
                .by Dr Stevan Wing
            %li
                %h4 Busting the myth about Information Governance and Security
            %li
                %h4 Free thinking space for collaboration (Unconference)
        
.event.row
    .span1 15:00-15:30
    .span7
        %h3 Coffee
        
.event.row
    .span1 15:30-17:00
    .span7
        %h3 Session 3 - Taking an Idea from Inception to Reality
        %ul
            %li
                %h4 Idea Factory
                .by Small Groups
            %li
                %h4 Lightning Talks
                .by 2 min presentation on ideas.
            %li
                %h4 Different channels for developing your idea
                .by A chaired panel discussion
        
.event.row
    .span1 17:00-17:15
    .span7
        %h3 Close
        .description Sum up, thanks etc
        
.event.row
    .span1 17:15-
    .span7
        %h3 Onward Drinks and Networking