%h2{style: "margin-top: 30px;"} Saturday's Schedule

.event.row
  .span1 09:00-09:30
  .span7
    %h3 Registration
    .description Delegates arrive, coffee

.event.row
  .span1 09:30-09:45
  .span7
    %h3 Introduction
    .by Dr Wai Keong Wong
    .description Welcome and introduction to the day

.event.row
  .span1 09:45-10:30
  .span7
    %h3 Plenary (title to be announced)
    .by Dr Martin Murphy

.event.row
  .span1 10:30-11:00
  .span7
    %h3 Team/Coffee

.event.row
  .span1 11:00-11:45
  .span7
    %h3 Session 1 - Streams as followed
    %ul
      %li
        %h4 Research and Collaboration
      %li
        %h4 Education and Learning
      %li
        %h4 Digital Productivity

.event.row
  .span1 12:00-12:45
  .span7
    %h3 Session 2 - Streams as above

.event.row
  .span1 12:45:13:45
  .span7
    %h3 Lunch

.event.row
  .span1 13:45-14:30
  .span7
    %h3 Plenary TBA
    .by Speaker TBA

.event.row
  .span1 14:45-15:30
  .span7
    %h3 Session 3 - Streams as above

.event.row
  .span1 15:30-16:15
  .span7
    %h3 Session 4 - Streams as above

.event.row
  .span1 16:15-17:00
  .span7
    %h3 Drinks and Networking

%hr

.hero-unit
  %h1 Sunday's Schedule

.event.row
  .span1 09:00-09:30
  .span7
    %h3 Registration
    .description Delegates arrive, tea/coffee

.event.row
  .span1 09:30-09:45
  .span7
    %h3 Introduction
    .by Dr Ed Wallitt
    .description Welcome and introduction to the day

.event.row
  .span1 09:45-10:30
  .span7
    %h3 7 deadly sins of tech
    .by Mr Rob Dyke

.event.row
  .span1 10:30-10:45
  .span7
    %h3 Tea/Coffee

.event.row
  .span1 10:45-11:45
  .span7
    %h3 Anatomy and Physiology of NHS IT
    .by Dr Wai Keong Wong

.event.row
  .span1 11:45-12:30
  .span7
    %h3 Session 1
    %ul
      %li
        %h4 Information Design
        .by Dr Wai Keong Wong
      %li
        %h4 How a website actually works
        .by Dr Stevan Wing
      %li
        %h4 Should you learn to code? If so, how do you do it?
        .by Dr Ed Wallitt

.event.row
  .span1 12:30-13:30
  .span7
    %h3 Lunch

.event.row
  .span1 13:30-14:15
  .span7
    %h3 Taking you ideas forward: user stories, wireframes and prototypes
    .by Dr Ed Wallitt

.event.row
  .span1 14:30-16:00
  .span7
    %h3 Session 2 - In the real world
    %h4 45 minutes - Success stories
    .by Chaired by Dr Stevan Wing and Dr Ed Wallitt

    %h4 45 minutes - Ideas Factory
    .by Various chairs (TBA)
    %ul
      %li
        %h4 Doctor Productivity
      %li
        %h4 Educational
      %li
        %h4 Patient-centric

.event.row
  .span1 16:00-17:00
  .span7
    %h3 Idea Factory Discussion (presentation of one idea from each group)
    .by A chaired panel discussion to explore generated ideas and how they could be built and implemented.


.event.row
  .span1 17:00
  .span7
    %h3 Close
    .description Sum up, thanks, feedback etc
